#main-container{
width:100%vw;
display: flex;
flex-direction: row;
}

#image-section{
    width: 50%;
}

#button-section{
    width:50%;
    margin-top: 200px;
}

#insta-clone-img{
    width:600px;
    height:900px;
    border: 2px solid #707070;
    margin-top: 80px;
    margin-left: 250px;

}

#enter-btn{
     width: 70px;
    height: 35px;
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    color: green;
    font-size: large; 

}
#enter-btn:hover{
    background-color: blanchedalmond;
}

#team{
    color: green;
    font-size: 2rem;

    opacity: 1; font: normal normal normal 64px/85px Palatino;
letter-spacing: 0px;
color: #006238;
opacity: 1;
}